
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --White: #fff;
    --Light: #f5f1f1;
    /* --Green: #36973a; */
    --Green: rgb(174, 32, 32);
    --Blue: rgb(60, 133, 201);
    --Dark: #111;
    --Dark1: #191919;
    --Dark2:#2f2f2f;
    --Light1: #5d5d5d;
    --Light3: #747474;
    --Light2: #9c9b9b;
    --Light4:rgb(237, 233, 233);
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--Dark1);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input,
button{
    outline: 0;
    border: 0;
    background: transparent;
}


input:focus::placeholder{
    color: transparent;
}

button{
    cursor: pointer;
}

.section{
    padding-inline: 8%;
}
/* =====================================NAVBAR========================================= */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 5%;
    background: var(--Dark1);
    border-bottom: .3px solid var(--Light1);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.logo-icon{
    width: 30px;
}


/*  =======================MOBILE NAVBAR STARTS==================*/

.navbar.mobile{
    display: none;
    transition: .4s;
}


.mobile .nav-links{
    gap: .7rem;
    margin-left: .5rem;
}


.icon{
    cursor: pointer;
    color: var(--White) !important;
    font-size: 1.5rem !important;
}

.mobile .link{
    font-size: 1.5rem;
}

.mobile .access{
    margin-left: .5rem;
}


/* ===============MOBILE SEARCH================ */

.mobile.browse-header{
    display: none;
    transition: .3s;
    opacity: 0;
}

.mobile .search-input{
    color: var(--Light2);
    font-weight: 200;
}

.mobile .search-input::placeholder{
    font-weight: 200;
}

.mobile .form{
    gap: 0;
}


.mobile .search-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .mobile .search-categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 5rem;
}


/*  =======================MOBILE NAVBAR ENDS==================*/

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 1.5rem;
    color: var(--Green);
    font-style: italic;
    margin-left: -8px;
}

.logo-text span{
    font-size: .8rem;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-wrapper{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 250px;
    padding: .5rem 1rem;
    border: 1px solid var(--Light1);
    border-radius: 30px;
}

.search-icon{
    color: var(--Light1);
    font-size: 11px;
    cursor: pointer;
}

.search-input{
    color: var(--Light1);
    font-weight: bold;
}

.search-input::placeholder{
    font-weight: bold;
    color: var(--Light1);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 1rem;
}

.link{
    font-size: 13px;
    color: var(--Light1);
    font-weight: bold;
    transition: .3s;
}

.link:not(.fourk):hover{
    color: var(--White);
}

.fourk{
    color: var(--Green);
}

.access{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: .5rem;
}

.access .link{
    color: var(--White);
    padding-right: .5rem;
}

.access .link:hover{
    color: var(--Light1);
}

.login{
    border-right: 1px solid var(--Light1);
}

/* ========================================HERO=================================== */

.hero{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7) ), url(images/hero-img.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    text-align: center;
}

.hero-wrapper{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: #ffffff15;
}

.hero-title{
    color: var(--White);
    font-size: 3rem;
    padding-top: 6rem;
    font-weight: 500;
}   

.hero-info{
    color: var(--Light);
    width: 700px;
    margin-inline: auto;
    margin-top: 2rem;
    font-weight: 300;
    line-height: 20px;
}

.small{
    font-size: 10px;
}

.hero-social-wrapper{
    color: var(--Blue);
    margin-top: 1rem;
}

.flex{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.hero-telegram{
    padding-right: .5rem;
    border-right: 1px solid var(--Light);
}

.fa-brands{
    font-size: 16px;
    color: rgb(36, 165, 224);
}

.fa-telegram{
    background: var(--White);
    border-radius: 50%;
}

.hero-content{
    border-bottom: 1px solid var(--Dark2);
    padding-bottom: 2rem;
}

.more-info-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 27rem;
}

.more-info{
    color: var(--White);
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 2.2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.featured{
    color: var(--Blue);
}

.hero-star{
    color: var(--Green);
    font-size: 14px;
}

.signal{
    width: 16px;
    border-radius: .1rem;
}

.trending,
.latest,
.browse-more-movies{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 1rem;
}

.movie{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.poster{
    width: 100%;
    /* height: 300px; */
    border: 4px solid var(--White);
    transition: .3s;
}

.poster:hover{
    border: none; 
    transform: scale(1.1);
}

.poster:hover ~ .title{
font-size: 12px;
}

.title{
    color: var(--White);
    font-weight: 500;
    margin-top: 2rem;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    text-align: left;
    transition: .3s;
    white-space: nowrap;
    display: block;
}

.year{
    color: var(--Light1);
    font-weight: 300;
    font-size: 12px;
    margin-top: .5rem;
}

.img-wrapper{
    width: 100%;
    position: relative !important;
    transition: .5s;
    overflow: hidden;
}

.img-wrapper:hover .overlay{
    opacity: 1;
    top: 0;
}

.img-wrapper:hover .poster{
    border: none;
}

.img-wrapper:hover ~ .title{
    font-size: 12px;
}


.overlay{
    background: #000000ce;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    border: 4px solid var(--Green);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: .3rem;
    transition: .5s;
    opacity: 0;

}

.overlay-title{
    font-size: 13px;
}

.review{
    color: var(--White);
    transition: .3s;
}

.review-text{
    color: var(--White);
    font-weight: normal;
    font-size: 9px;
    transition: .3s;
}

/* ==========================================MAIN SECTION====================================== */

.main{
    padding-bottom: 2rem;
}

.main-title{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    
}

.browse-text{
    color: var(--Light1);
}

.heading-text{
    color: var(--White);
}


.resolution{
    position: absolute;
    font-size: .8rem;
    color: var(--White);
    top: .5rem;
    left: .5rem;
    background: var(--Green);
    padding: .2rem .2rem;
    border-radius: .2rem;
}

.rating{
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-top: .5rem;
}

.rating-star{
    color: var(--Green);
    font-size: 1rem;
}

.rating-text{
    color: var(--White);
}

.download{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    background: var(--Green);
    color: var(--White);
    padding: .5rem;
    margin-top: .5rem;
    transition: .3s;
}

.download:hover{
    color: var(--Green);
    background: var(--White);
}

.fa-download {
    font-size: 12px;
}


.chat-bot{
    display: flex;
    align-items: center;
    gap: .3rem;
    background: #0ea7d1;
    width: fit-content;
    position: fixed;
    bottom: 5rem;
    right: 0;
    cursor: pointer;
    transform: translateX(140px);
    transition: .3s;
    z-index: 20;
    animation: slide 10s ease-in-out infinite ;
}

@keyframes slide{
    0%,
    45%,
    100%{
        transform: translateX(140px);
    }
    50%,
    95%{
        transform: translateX(0);
    }
}



.chat-bot:hover .bot-icon{
    background: #15819f;
}


.bot-icon{
    font-size: 25px;
    color: #fff;
    padding: .6rem;
    background: #0ea7d1;
}

.bot-icon:hover .chat-bot{
    transform: translateX(0);
}


.bot-text{
    color: var(--White);
    font-size: 14px;
    padding-right: .5rem;
}


/* =============================================BROWSE MOVIES SECTION===================================== */
.browse-more-movies{
    text-align: center;
    padding-block: 2rem;
}

.browse-header{
    padding: 7rem 12% 5rem;
    background: var(--Dark);
}

.browse-title{
    color: var(--Light1);
    font-weight: 500;
    font-size: 1.4rem;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.browse.search-input{
    width: 100%;
    background: var(--Dark2);
    padding: .8rem;
    color: var(--Light2);
}

.browse.search-icon{
    background: var(--Green);
    color: var(--White);
    padding: .7rem 2rem;
    font-size: 1rem;
    border-radius: .2rem;
    transition: .3s;
}

.browse.search-icon:hover{
    color: var(--Green);
    background: var(--White);
}


.search-categories{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-inline: 8%;
}


.cat-wrapper{
    position: relative;
    width: fit-content;
}

.navi-icon{
    color: var(--Light1);
    position: absolute;
    right: .5rem;
    font-size: 11px;
}

.navi-icon.up{
    top: 2rem;
}

.navi-icon.down{
    bottom: .5rem;
}

.cat-title{
    color: var(--Light1);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .5rem;
}

.cat-input{
    width: 117px;
    padding: .7rem;
    background: var(--Dark2);
    cursor: pointer;
    color: var(--Light2);
}

.box{
    padding-inline: 12%;
    margin-top: 1rem;
    text-align: center;
}

.page-title{
    color: var(--Green);
    font-weight: normal;
}

.page-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.next{
    padding: .6rem .7rem;
    color: var(--White);
    border: 1px solid var(--Dark2);
    font-size: 14px;
    cursor: pointer;
    transform: .3s;
}

.next.current-page{
    display: none;
}

.next:hover{
    background: var(--Green);
    border: 1px solid var(--Green);
}

.next.selected{
    background: var(--Green);
    border: 1px solid var(--Green);
}

.fa-angles-right{
    font-size: 10px;
}



/* =======================================4K MOVIES SECTION======================== */
.blue{
    color: rgb(20, 186, 189);
}


.italize{
    font-style: italic;
}

/* ==============================================FOOTER==================================== */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: var(--Dark);
    border-top: 1px solid var(--Dark2);
    margin-top: 3rem;
}

.mobile.footer{
    display: none;
}

.footer-nav{
    display: none;
}

.footer p{
    color: var(--White);
}

.footer a {
    color: var(--Light1);
    transition: .3s;
}

.footer a:hover {
    color: var(--White);
}


.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.top i{
    color: var(--White);
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.footer-link{
    font-size: 13px;
    font-weight: bold;
}

.bottom p{
    font-size: 12px;
    margin-top: 1rem;
}
.dev{
    text-align: center;
}

.fa-github{
    color: var(--White);
    margin-left: .5rem;
}

/* ============================================LOGIN SECTION================================== */


.login-container{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #202020ac;
    z-index: 11;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.login-box{
    position: relative;
}

.login-container.active{
    display: flex;
}

.register-here,
.login-here{
    position: fixed;
    top: 100vh;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6%;
    background: var(--White);
    border-radius: .3rem;
    text-align: center;
    height: fit-content;
    z-index: 25;
    pointer-events: none;
    opacity: 0;
    transition: .5s;
    overflow: hidden;
}

.register-here.active,
.login-here.active{
    top: 0;
    pointer-events: all;
    opacity: 1;
}




.login-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.sign-in,
.register{
    padding: 1.5rem 7.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--Light2);
    background: var(--Light4);
    cursor: pointer;
    transition: .5s;
}

.sign-in.active,
.register.active{
    color: var(--Green);
    font-weight: 700;
    background: transparent;
}

.login-form-container{
    padding-inline: 2rem;
}
.form-control{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--Light4);
    padding: 1rem;
    border-radius: .1rem;
    transform: .3s;
}

.form-control.active{
    border-color: var(--Green);
}

.form-control i{
    font-size: 18px;
    color: var(--Light4);
}

.login-input{
    width: 100%;
}

.login-input::placeholder{
    color: var(--Light3);
    font-weight: 200;
    letter-spacing: .2px;
}

.login-text{
    margin-top: 1rem;
    font-style: italic;
    font-size: 12px;
    color: var(--Light3);
}

.terms{
    color: var(--Blue);
}

.login-btn{
    margin-block: 1.5rem;
    width: 100%;
    color: var(--White);
    background: var(--Green);
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    transition: .3s;
}

.login-btn:active{
    transform: translateY(-5px);
}

.login-btn:hover{
    background: rgb(138, 24, 24);
}

.forgot{
    color: var(--White);
    font-weight: 200;
    font-size: 14px;
    text-decoration: underline;
    display: none;
    position: fixed;
    bottom: 38%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 25;
}

.forgot.active{
    display: block;
}



/* ============================RESPONSIVE FOR SMALL SCREEN============================= 
========================================================================================
========================================================================================*/
@media  (max-width: 600px) {

    .section{
        padding-inline: 3%;
    }

    /* ========================NAVBAR========================= */
    .navbar{
        display: none;
    }

    .navbar.mobile{
        display: flex;
    }

    .mobile.browse-header.active{
        display: block;
        opacity: 1;
    }

    .logo-icon{
        width: 25px;
    }

    /* ==========HERO SECTION============ */
    .hero{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9) ), url(images/hbg.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero-title{
        display: none;
    }

    .hero-info{
        display: none;
    }

    .hero-content{
        padding-top: 4rem;
    }

    .hero-social-wrapper{
        font-size: 12px;
        text-align: left;
        line-height: 20px;
        padding-inline: 2%;
    }

    .fa-brands{
        font-size: 13px;
        margin-right: .3rem;
    }

    .more-info-wrapper{
        margin-left: 0;
        margin-top: 1rem;
        padding-inline: 1%;
    }

    .more-info{
        font-size: 14px;
        padding-inline: .5rem;
        margin-top: .5rem;
    }

    /* =============MAIN SECTION============ */

    .main{
        margin-top: 2rem;
    }

    .main-title{
        font-size: 14px;
        padding: .5rem;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    .more{
        margin-top: 4.5rem;
    }

    /* ===============BROWSE SECTION============== */

    .browse-header{
        display: none;
    }

    .mobile.browse-header{
        padding-bottom: 1rem;
        padding-top: 3rem;
    }

    .browse.search-icon{
        font-size: 13px;
        padding:0.5rem .8rem;
    }

    .browse.search-input{
        padding: .55rem;
    }

    .box{
        padding-inline: 3%;
        text-align: left;
    }

    .page-box{
        margin-top: 1rem;
        gap: .5rem;
    }

    .page-title{
        font-size: .99rem;
        text-align: center;
    }

    .next{
        font-size: 12px;
    }

    .next:not(.next-page){
        display: none;
    }

    .next.current-page{
        display: block;
    }

    .trending,
    .latest,
    .browse-more-movies{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .movie{
        width: 160px;
    }


    .title{
        font-size: 14px;
        width: 150px;
        margin-top: 1rem;
    }

    .poster:hover ~ .title{
        font-size: 9px;
    }

    .resolution{
        font-size: .6rem;
    }

    .rating-text{
        font-size: 12px;
    }

    .download-text{
        font-size: 12px;
    }

    /* =============FOOTER=========== */

    .footer{
        display: none;
    }

    .mobile.footer{
        display: flex;
        padding: 1rem;
        margin-top: 1rem;
    }

    .f-title{
        color: var(--White);
        font-size: 14px;
    }

    .mobile.footer .row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .3rem;
    }

    .mobile .footer-links{
        flex-direction: column;
        align-items: center;
    }

    .mobile .footer-link{
        font-size: 14px;
    }

    .mobile .bottom p{
        text-align: center;
    }


    /* ====================FOOTER NAV=================== */

    .footer-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top: .5px solid var(--Dark2);
    }

    .footer-nav .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 2.5rem;
        padding-top: 1rem;
    }
  
    .fn-text{
        color: var(--White);
        margin-top: .3rem;
        font-size: 12px;
    }

    /*==========================MOBILE LOGIN PAGE========================== */

    .mobile.login-box{
        background: linear-gradient(0deg, rgba(0, 0, 0, .8),rgba(0, 0, 0, .9) ), url(images/lgbg.jpeg);
        background-repeat: no-repeat;
        height: 80vh;
        background-size: contain;
    }

    .login-wrapper{
        backdrop-filter: blur(5px);
    }

    .mobile .login-heading{
        margin-bottom: 0;
    }

    .mobile .lg.login-title{
        padding-top: 9.6rem;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
        text-align: center;
        color: var(--Green);
    }

    .forgot-password{
        color: var(--White);
        font-weight: 200;
        font-size: 12px;
        text-decoration: underline;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }

    .login.footer-nav{
        padding: 1rem;
    }

    .mobile .rg.login-title{
        padding-top: 9rem;
        margin-bottom: 1rem;
        display: block;
        width: 100%;
        text-align: center;
        color: var(--Green);
    }

    .ml.nav-right{
        gap: 1rem;
    }

    .mobile.login-box .login-input{
        color:  var(--Light);
    }

}